body {
  margin: 0;
  padding: 90px 0;
  background-color: #e2e7ec;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  color: #1d1d1d1d;
  min-height: 100vh;
}
body * {
  box-sizing: border-box;
}
img {
  width: auto;
  max-width: 100%;
}
a {
  color: #1d1d1d1d;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
flex-container {
  display: flex;
  width: 1120px;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-between;
}
.big-item {
  position: relative;
  width: 66.6%;
}
.big-item .bottom-text {
  position: absolute;
  bottom: 24px;
  left: 24px;
  color: #ffffff;
}
.flex-item:not(.big-item) {
  width: 33.3%;
}
